# Python virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Data files (optional: uncomment if you don’t want CSVs in git)
.csv
